<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Draw Your Family!</h1>
        <p>Welcome to FamilyTree! FamilyTree can help you recongnize how your big family looks like, contact each others conviniencely, and even talk to your lovely ancestor!</p>
        <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>-->
      </div>
    </div>