<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">FamilyTree</a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">About</a></li>
        <li><a href="/tree">Get Tree</a></li>
        <li><a href="">Group Dashboard</a></li>
        <li><a id="get-qrcode" href="#">Get QR Code</a></li>
      </ul>
      <% if(usr){ %>
        <ul class="nav navbar-nav navbar-right">
          <li><span class="navbar-text">Hello, <%= usr %></span></li>
          <li><button id="sign_out" type="button" class="btn btn-primary navbar-btn">Sign Out</button></li>
        </ul>
      <% }else{ %>
        <button id="sign" type="button" class="btn btn-primary navbar-btn navbar-right">Sign In / Sign Up</button>
      <% } %>
    </div><!--/.navbar-collapse -->
  </div>
</nav>