
/* ------ for mask and popup window -------- */
.mask{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    z-index: 1080;
    background: #333;
    opacity: 0.7;
}
.wrapper{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: 1100;
    color: #eee;
    top: 0;

    display: flex;
    align-items: center;
}
.popup-window{
    min-width: 300px;
    background-color: #232323;
    padding: 20px 25px 30px 25px;
    border: 1px solid;
    border-color: #080808;
    border-radius: 12px;
}
.form-btn-row{
    margin-top: 10px;
}
.form-btn-row div{
    padding: 0;
}

/* set sign up min width */
.form-signup{
    min-width: 500px;
}

/* customize font */
.text-lg{
    font-size: 18px;
}

/* for info window */
.info-icon{
    max-width: 150px;
    margin: 10px auto;
}
.info-content{
    max-width: 400px;
    white-space: normal;
}
.info-text{
    margin: 10px 0;
}

/* customize close tag */
.close{
    color: #ddd;
    opacity: 0.3;
}
.close:hover{
    color: #fff;
    opacity: 0.7;
}

/* for icon bar */
.icon-bar-wrapper{
    position: fixed;
    display: flex;
    height: 100%;
    align-items:center;
    align-content: center;
}
.icon-bar{
    width: 60px;
    height: 124px; //TODO: 
    margin: auto;
    background: #333;
    display: inline;
}
.icon-bar a{
    display: block;
    text-align: center;
    font-size: 30px;
    color: #fff;
    padding: 10px;
}
.icon-bar a:hover{
    background: #000;
}
.test-center{
    height: 2000px;
}


/* for mail tool-bar */
.icon-tool-btn{
    font-size: 20px;
    color: #000;
    display: inline;
}

/* for table row a link */
.row-link{
    display: block;
}

/* for text-editor dialog fix */
.modal-content .form-group{
    margin-right: 0;
    margin-left: 0;
}

/* for mail edioter toggle switch */
.onoffswitch {
    position: relative; 
    width: 113px;
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    border: 1px solid #CCC; 
    border-radius: 24px;
}
.onoffswitch-inner {
    display: block; 
    width: 200%; 
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; 
    float: left; 
    width: 50%; 
    height: 30px; 
    padding: 0; 
    line-height: 30px;
    font-size: 14px; 
    color: white; 
    font-family: Trebuchet, Arial, sans-serif; 
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Auto Send";
    padding-left: 10px;
    background-color: #337AB7; 
    color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Send Now";
    padding-right: 10px;
    background-color: #FFF; 
    color: #333;
    text-align: right;
}
.onoffswitch-switch {
    display: block; 
    width: 15px; 
    margin: 7.5px;
    background: #FFFFFF;
    position: absolute; 
    top: 0; 
    bottom: 0;
    right: 79px;
    border: 1px solid #CCC; 
    border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

/* for table tr to link row */
.row-a-link{
    cursor: pointer;
}

/* for header image */
.jumbotron {
    background: url(https://static.pexels.com/photos/56875/tree-dawn-nature-bucovina-56875.jpeg);
}
body{
    background-color: #F4EAE0;
}

/* for theme */
.table{
    background-color: #f9f9f9;
}