<div class="mask hidden"></div>
<div class="container wrapper hidden">
    <div class="popup-window  center-block">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <!-- main content here -->
        <div id="popup-content"></div>

        <!-- async loading svg -->
        <%- include('async-load') %>
    </div>
</div>