<div class="row">
  <div class="center-block info-icon text-center">
    <i class="fa fa-exclamation fa-5x" aria-hidden="true"></i>
  </div>
</div>
<div class="row info-content">
  <p id="info-content" class="text-center info-text">
    <b>Sorry for something ERROR!</b>
  </p>
</div>