<div class="row">
  <div class="center-block info-icon text-center">
    <img src=<%= qrcodeUrl %> alt="qrcode">
  </div>
</div>
<div class="row info-content col-sm-10 col-sm-offset-1">
  <div class="input-group">
    <input id="short-url" type="text" class="form-control" placeholder="Shorten Url with goo.gl" aria-describedby="basic-addon2" value=<%= shortUrl %>>
    <span id="copy-url" class="input-group-btn">
      <button class="btn btn-default" type="button">Copy</button>
    </span>
  </div>
  <p class="text-center info-text"></p>
</div>