<form class="form-horizontal">
    <h3>Please Sign In</h3>
    <label for="email" class="sr-only">Username</label>
    <input class="form-control" type="text" name="username" placeholder="Email" maxlength="50" />
    <label for="password" class="sr-only">Password</label>
    <input class="form-control" type="password" name="password" placeholder="Password" maxlength="50" />
    <div class="center-block form-btn-row">
        <div class="col-md-6">
            <button class="btn btn-primary btn-block" type="submit">Sign In</button>
        </div>
        <div class="col-md-6">
            <button id="switch-signup" class="btn btn-info btn-block">Sign Up</button>
        </div>
    </div>
</form>