<form class="form-horizontal form-signup">
  <h2 class="text-center">Sign Up to Start!</h2>
  <div class="form-group">
    <label for="fullname" class="control-label col-sm-3">Full Name</label>
    <div class="col-sm-9">
      <input class="form-control" type="text" name="fullname" placeholder="ex: Angus Chen" maxlength="200" />
    </div>
  </div>
  <div class="form-group">
    <label for="email" class="control-label col-sm-3">Email</label>
    <div class="col-sm-9">
      <input class="form-control" type="text" name="username" placeholder="Email for username" maxlength="50" />
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="control-label col-sm-3">Password</label>
    <div class="col-sm-9">
      <input class="form-control" type="password" name="password" placeholder="Password" maxlength="50" />
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="control-label col-sm-3">Retype Password</label>
    <div class="col-sm-9">
      <input class="form-control" style="height: 50px;" type="password" name="re-password" placeholder="Retype Password" maxlength="50" />
    </div>
  </div>
  <div class="center-block form-btn-row">
    <div class="col col-sm-12">
      <button class="btn btn-primary btn-block text-lg" type="submit">Submit</button><br>
    </div>
  </div>
  <div class="col-sm-6 col-sm-offset-3 text-center">
    <a id="switch-signin" href="#">I have account, go to Sign In!</a>
  </div>
</form>